
<% include header %>

    <% include navbar %>

    <!-- Landing page div -->
    <div id="landing">

        <div class="logoBackground">
          <h1 class="logo">Welcome to the <%= message %>!</h1>
        </div>

      </div> <!--End of landing div-->

    <div role="main" class="container">
    
        <br/><br/>

        <h2>Welcome</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis ante sapien, posuere luctus
           erat porta et. Sed sit amet risus eleifend, vehicula turpis quis, ultrices arcu. Pellentesque vulputate
            feugiat mi, lobortis sodales nibh auctor mollis. Aenean vel tristique tortor, nec ullamcorper ante.
             Nulla facilisi. Sed leo metus, eleifend eu pellentesque sit amet, rhoncus ac nunc. Suspendisse vel
              tristique arcu. Nulla volutpat hendrerit hendrerit.</p>
        
        <img src="images/anthony-roberts-297366-unsplash.jpg" class="rounded float-left" style="max-width: 40%; margin:10px;" alt="Whitetail Deer">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis ante sapien, posuere luctus
            erat porta et. Sed sit amet risus eleifend, vehicula turpis quis, ultrices arcu. Pellentesque vulputate
            feugiat mi, lobortis sodales nibh auctor mollis. Aenean vel tristique tortor, nec ullamcorper ante.
            Nulla facilisi. Sed leo metus, eleifend eu pellentesque sit amet, rhoncus ac nunc. Suspendisse vel
            tristique arcu. Nulla volutpat hendrerit hendrerit.</p>
                     
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis ante sapien, posuere luctus
            erat porta et. Sed sit amet risus eleifend, vehicula turpis quis, ultrices arcu. Pellentesque vulputate
            feugiat mi, lobortis sodales nibh auctor mollis. Aenean vel tristique tortor, nec ullamcorper ante.
            Nulla facilisi. Sed leo metus, eleifend eu pellentesque sit amet, rhoncus ac nunc. Suspendisse vel
            tristique arcu. Nulla volutpat hendrerit hendrerit.</p>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis ante sapien, posuere luctus
            erat porta et. Sed sit amet risus eleifend, vehicula turpis quis, ultrices arcu. Pellentesque vulputate
            feugiat mi, lobortis sodales nibh auctor mollis. Aenean vel tristique tortor, nec ullamcorper ante.
            Nulla facilisi. Sed leo metus, eleifend eu pellentesque sit amet, rhoncus ac nunc. Suspendisse vel
            tristique arcu. Nulla volutpat hendrerit hendrerit.</p>
            
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis ante sapien, posuere luctus
            erat porta et. Sed sit amet risus eleifend, vehicula turpis quis, ultrices arcu. Pellentesque vulputate
            feugiat mi, lobortis sodales nibh auctor mollis. Aenean vel tristique tortor, nec ullamcorper ante.
            Nulla facilisi. Sed leo metus, eleifend eu pellentesque sit amet, rhoncus ac nunc. Suspendisse vel
            tristique arcu. Nulla volutpat hendrerit hendrerit.</p>
    </div>

<% include footer %>
<% include scripts %>
