<% include header %>

<% include navbar %>

<div role="main" class="container">
    <br><br>
    <div class="jumbotron">
        <h2><%= message %></h2>

        <br/><br/>

      <% if (employee.length) { %>
      <h2>-- Employee Listing --</h2><br />
      <a href="/new">Add New</a>
      <table class="table table-hover">
          <thead class="thead-dark">
          <tr>
              <th>Name</th>
              <th>Functions</th>
          </tr>
          </thead>
          <tbody>
          <% employee.forEach(function (entry) { %>
          <tr>
              <td><%= entry.firstName %> <%= entry.lastName %></td>
              <td><a href="/view/<%= entry.firstName %>">VIEW</a></td>
          </tr>
          </tbody>
          <% }) %>
      </table>
      <% } else { %>
      No entries! <a href="/new">Add one!</a>
      <% } %>

      <br/>

    </div>

</div>

<% include footer %>
<% include scripts %>
